# Projeto 1 - Ci√™ncia dos Dados

Nome: Rodrigo de Lima Azeredo

Nome: Ykaro de Sousa Andrade

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [13]:
#importando bibliotecas
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from IPython.display import display
pd.options.display.max_rows = 13
import emoji
import re

In [14]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\Rodrigo Lima\Documents\Cdados\Projeto\projet1cdados

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [15]:
filename = 'puma.xlsx'

In [16]:
train = pd.read_excel(filename)
train.head(5)

,Treinamento,Irrelevante 0 / Relevante 1
0,o neymar inovou a puma https://t.co/qtcuvd1svj,1
1,"a @puma t√° deitando nas chuteiras do neymar, m...",1
2,fico assim no da puma affss https://t.co/1ygyh...,0
3,"@g_estrella__ puma t√° a√≠ , mas tr√™s listra t√° ...",1
4,@0ketlyn_s eu acho que um puma ^^,0

In [17]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,Irrelevante 0 / Relevante 1
0,@0chavex0 @ornate_puma vdd to resfriado,0
1,üìΩ neymar e puma üëÄ‚ù§!!\ntemos novidades vindo a√≠...,1
2,@brgmsch mas a puma nem patrocina a aston,0
3,üìΩ puma neymar jr creativity a inovadora chute...,1
4,"a puma t√° a evoluir muito, quem me dera que o ...",1

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Para nossa an√°lise, escolhemos a marca Puma, onde nessa an√°lise foi pego como tweets relevantes, todos aqueles que enaltecia a marca, tais twitts como: Falando o quanto a marca √© boa e o quanto a mesma est√° crescendo no mercado.
E qualificou-se como irrelevante os  tweets que rebaixava a marca ou os que realmente n√£o tinha haver com a marca.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [18]:
# Todos os tweets: Treinamentos
dados = pd.read_excel('puma.xlsx')
dados

,Treinamento,Irrelevante 0 / Relevante 1
0,o neymar inovou a puma https://t.co/qtcuvd1svj,1
1,"a @puma t√° deitando nas chuteiras do neymar, m...",1
2,fico assim no da puma affss https://t.co/1ygyh...,0
3,"@g_estrella__ puma t√° a√≠ , mas tr√™s listra t√° ...",1
4,@0ketlyn_s eu acho que um puma ^^,0
...,...,...
295,@brunabud_ a√≠ poderia ter mais que so um puma ...,0
296,to apaixonada num t√™nis puma mas vi uns coment...,0
297,@leoboschiroli t√¥ quase pedindo aquele puma,1
298,"oq √© aquele puma que o neymar largou no story,...",1
299,aprendi a gostar at√© de puma mas cat &amp; dog...,0

In [19]:
# Separando apenas a planilha de Treinamentos.
t_Treinamento = dados.loc[:, ['Treinamento']]
t_Treinamento

                                           Treinamento
0       o neymar inovou a puma https://t.co/qtcuvd1svj
1    a @puma t√° deitando nas chuteiras do neymar, m...
2    fico assim no da puma affss https://t.co/1ygyh...
3    @g_estrella__ puma t√° a√≠ , mas tr√™s listra t√° ...
4                    @0ketlyn_s eu acho que um puma ^^
..                                                 ...
295  @brunabud_ a√≠ poderia ter mais que so um puma ...
296  to apaixonada num t√™nis puma mas vi uns coment...
297        @leoboschiroli t√¥ quase pedindo aquele puma
298  oq √© aquele puma que o neymar largou no story,...
299  aprendi a gostar at√© de puma mas cat &amp; dog...

[300 rows x 1 columns]

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**